<h1>Items</h1>

<table class="table">
 <tr class='table-headers'>
   <td> Name </td>
   <td> Description </td>
   <td> Cost </td>
   <td> Fish </td>
 </tr>
  
 <% @items.each do |item| %>
    <tr>
    <td>
      <%= link_to item.name, edit_item_path(item) %>
    </td>
    <td>
      <%= item.desc %>
    </td>
    <td>
      $<%= item.cost %>
    </td>
    <td>
    <%= link_to item.fish.name, fish_path(item.fish) %>
    </td>
    </tr>
  <% end %>

</table>
<br/>
<%= link_to 'Create New Item', new_item_path %>
